h1{
    font-family: 'Source Sans 3', sans-serif;
}

   .pasto{
    border-color: aqua;
   background-color: antiquewhite;
   }
   


.inicio{
  background-color: cornflowerblue;
}
img{
    border-radius: 50%;
}
.r{
    margin: 100px;

}
    
    
  button  {
    background-color: rgb(204, 29, 29); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }

.grama{
  background-color: rgb(155, 127, 127);
  
}


 